<div class="container">
  <div class="user-details">
    <h3>关于我</h3>
    <p>有良好的学习能力，总结能力，能够自我进步，喜欢对自我不断完善、钻研问题、吸收各方面的知识<br/>
      对前端技术充满热情，平时喜欢看技术博客，文档，关注技术前沿<br/>
      有团队精神，能与团队成员充分配合，发挥团队优势<br/>
      性格活泼开朗，有责任心，工作认真负责<br/>
    </p>
  </div>
  <div class="row user">
    <div class="six columns">
      <h4>语言</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>
      理解并掌握已标准化的HTML(5)和CSS(3)<br/>
      掌握常见布局技巧,div+CSS，弹性盒布局等<br/>
      深刻理解JavaScript原型链，闭包，作用域等<br/>
      掌握JavaScript核心技术DOM/BOM/AJAX/JSON<br/>
      </p>
    </div>
    <div class="six columns">
      <h4>技能</h4>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>
        熟悉使用主流JavaScript框架（jQuery/BootStrap）<br/>
        日常使用Git/WebStorm/Sublime text开发，乐于尝试新工具<br/>
        能够使用PhotoShop完成简单的设计<br/>
        能阅读基本英文文档（CET4 538）<br/>
      </p>
    </div>
  </div>
  <div class="content links">
    <a class="link" style="color:#1a222c" href="#about" data-scroll>关于我</a>
    <a class="link" style="color:#1a222c" href="#projects" data-scroll>项目经历</a>
  </div>
</div>