<div id="about">
<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <ul>
      <li>有良好的学习能力，总结能力，能够自我进步，喜欢对自我不断完善</li>
      <li>对前端技术充满热情，平时喜欢看技术博客，文档，关注技术前沿</li>
      <li>有团队精神，能与团队成员充分配合，发挥团队优势</li>
      <li>性格活泼开朗，有责任心，工作认真负责</li>
    </ul>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>能够编写语义化的HTML，CSS,掌握常见布局技巧,弹性盒布局等。
        理解并掌握已标准化的HTML5和CSS3 新特性。
        深刻理解JavaScript原型链，闭包，作用域等基础知识，
        理解并掌握JavaScript语言核心技术DOM/BOM/AJAX/JSON。
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-codepen-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
</div>