<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">朱梦瑶</span>
        <span class="site-description">Web前端工程师进阶中...</span>
      </h1>
      <div class="icons-header">
          <a class="link"  href="#"><i class="icon fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;江西师范大学&nbsp;&nbsp;物联网工程</a>
      </div>
      <div class="icons-header">
          <a class="link" href="mailto:Annzmy95@163.com"><i class="icon fa fa-envelope"></i>&nbsp;Annzmy95@163.com</a>
      </div>
      <div class="icons-header">
          <a class="link"  href="#"><i class="icon fa fa-phone"></i>&nbsp;&nbsp;13247005808</a>
      </div>
      <div class="links">
        <a class="link" href="#about" data-scroll>About Me</a>
         <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
