<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">朱梦瑶</span>
        <span class="site-description">大四应届毕业生 前段工程师进阶中...</span>
      </h1>
      <div class="icons-header">
          <a class="a-link" href="#"><i class="icon fa fa-graduation-cap" aria-hidden="true"></i>江西师范大学 物联网工程</a>
          <a class="a-link" href="#"><i class="icon fa fa-phone"></i>13247005808</a>
        <a class="a-link" href="mailto:Annzmy95@163.com"><i class="icon fa fa-envelope"></i>Annzmy95@163.com</a>
        <a class="a-link" target="_blank" href="https://github.com/Annzmy"><i class="icon fa fa-github-alt"></i>Annzmy</a>



      </div>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
