<div class="container">
  <div class="user-details">
    <h3>项目经历</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="../assets/img/login.png" />
    </div>
    <div class="six columns">
      <h5>嘟点健康医疗平台（一期）</h5>
      <ul>
        <li></li>
      </ul>
      <p>参与项目前期功能策划与需求分析，自学HTML+CSS+JavaScript,负责登录、采购管理、订单管理等页面开发，
        实现输入控制、表单校验等功能模块，利用AJAX提交表单，与后台数据交互。
      </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="../assets/img/ykt.png" />
    </div>
    <div class="six columns">
      <h5>嘟点健康医疗平台（一期）</h5>
      <ul>
        <li></li>
      </ul>
      <p>参与项目前期功能策划与需求分析，自学HTML+CSS+JavaScript,负责登录、采购管理、订单管理等页面开发，
        实现输入控制、表单校验等功能模块，利用AJAX提交表单，与后台数据交互。
      </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
