<div class="container">
  <div class="user-details">
    <h3>项目经历</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="dudian" src="../assets/img/login.png" />
    </div>
    <div class="six columns">
      <h5>嘟点健康医疗平台（一期）</h5>
      <ul>
        <li>一个符合国家“互联网药品交易服务资格A级证书”审批规范的药品信息服务平台</li>
      </ul>
      <p>
        1.负责登录、合同管理、采购管理、订单管理、库存管理等页面开发<br/>
        2.参与功能策划，实现输入控制、数据交互、表单校验等功能。<br/>
        3.完成测试驱动的前端 bug 清理，发起并主导前端团队自测 bug<br/>
      </p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="yikatom" src="../assets/img/ykt.png" />
    </div>
    <div class="six columns">
      <h5>洪城一卡通网上商城</h5>
      <ul>
        <li>一个整合出行、缴费、购物，打造“便民、惠民、利民”一站式便民服务平台的网上商城</li>
      </ul>
      <p>1.实现商城首页轮播图，商品标签页切换，地址选择三级联动等功能<br/>
        2.参与商城功能测试，并对原有代码进行重构<br/>
      </p>
      <a class="project-link" href="www.yikatom.com">Check it out</a>
    </div>
  </div>
</div>
